.title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.usernames {
    margin-bottom: 1rem;
}

.badgeColumn {
    text-align: center;
    width: 70px;
}

.totalColumn {
    text-align: center;
    border-right: 1px solid black;
    width: 80px;
}

.medalSummary {
    text-align: left;
}
