.title {
    font-size: 2rem;
}

.initial {
    font-size: 2.5rem;
}

.hasGold {
    color: #ffdf00;
    font-weight: bold;
}

.hasSilver {
    color: #c0c0c0;
    font-weight: bold;
}

.hasBronze {
    color: #cd7f32;
    font-weight: bold;
}
