.line {
    padding: 0;
    margin: 0;

    position: absolute;
    width: var(--length);
    height: var(--thickness);
    left: var(--cx);
    top: var(--cy);
    line-height: 1px;
    transform: rotate(var(--angle));
    z-index: -1;

    background-color: var(--color);
}
