.tree {
    $node-radius: 80px;

    display: grid;
    gap: 1rem;
    width: 100%;

    .node {
        grid-column: var(--column) / span 1;
        grid-row: var(--row) / span 1;

        @media (orientation: portrait) {
            grid-row: var(--column) / span 1;
            grid-column: var(--row) / span 1;
        }

        height: $node-radius;

        display: flex;
        justify-content: center;

        .badge {
            width: $node-radius;
            height: $node-radius;
            border-radius: 50%;
            background-color: var(--color);
            color: var(--text-color);
            border: 1px solid;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .badgeName {
                font-size: 1.3rem;
                line-height: 1.2;
                font-family: monospace;
            }

            .score {
                font-size: 0.8rem;
            }
        }
    }
}
